a {
    color: black;
}
.banner-img {
    margin-bottom: 20px;
}
body {
    background-color: #ffd1d1;
}
.flex-column {
    float: left;
    width: 45%;
    padding-left: 5%;
    height: 300px; /* Should be removed. Only for demonstration */
}
.container-fluid {
    padding-left: 0px;
}
footer h3, a {
    padding-left: 1vw;
}
.footer-links {
    font-size: 25px;
    width: 100vw;
    height: 7vh;
    background-color: #d9534f;
    text-align: center;
    font-weight: bold;
}
.header-row {
    margin-top: 20px
}
hr {
    width: 80vw;
}
main {
    width: 600px;
    padding-left: 50px;
}

.nav-link {
    color: black;
}
.navbar {
    margin-bottom: 0;
    width: 100vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

.product-img {
    width: 70%;
}
.pull-right img-thumbnail {
    margin-top: -10px;
    margin-bottom: 10px
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
