a {
    color: black;
}
.banner-img {
    margin-bottom: 20px;
}
body {
    background-color: #ffd1d1;
}
.flex-column {
    float: left;
    width: 40%;
    padding-left: 5%;
    height: 300px; /* Should be removed. Only for demonstration */
}
.container {
    background-color: white;

}

.header-row {
    margin-top: 20px
}
main {
    width: 600px;
    padding-left: 50px;
}
.navbar {
    margin-bottom: 0;
}
.nav-link {
    color: black;
}
.product-img {
    width: 70%;
}
.pull-right img-thumbnail {
    margin-top: -10px;
    margin-bottom: 10px
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
