a {
    color: black;
}
.banner-img {
    margin-bottom: 20px;
}
body {
    background-color: #ffd1d1;
}

.container {
    background-color: white;

}
.header-row {
    margin-top: 20px
}
.navbar {
    margin-bottom: 0;
}
.nav-link {
    color: black;
}
.product-img {
    width: 70%;
}
.pull-right img-thumbnail {
    margin-top: -10px;
    margin-bottom: 10px
}
